
<tr onclick="window.location.href='profile/{{this.id}}';" style="cursor: pointer;">
    <td>
        {{#if this.numberOne}}
        <div>
            <img id = "placeImage" src="images/1stPlace.png">
        </div>
        {{else if this.numberTwo}}
        <div>
            <img id = "placeImage" src="images/2ndPlace.png">
        </div>
        {{else if this.numberThree}}
        <div>
            <img id = "placeImage" src="images/3rdPlace.png">
        </div>
        {{else}}
            <div id = "leadersRank"> {{placeFormatterLeaderPage @index 1}} </div>
        {{/if}}
    </td> <!--Rank-->
    <td>
        <div id = "leadersUsername">{{this.username}}</div>
    </td> <!--Username-->
    <td>
        <div style = "display: flex; flex-wrap: nowrap; justify-content: center;">
            <div id ="leadersSteps" >{{addCommas this.totalSteps}}</div>
            <img id = "steps" src="images/footsteps.png">
        </div>
    </td> <!--Step Count-->

</tr>

