<div class="container-wrap">
    <section id="userProfile">
        <nav class="profile-nav">
            <div class="profile-title">
                <h1>Welcome {{full_name}}</h1>
            </div>

            {{!-- <div class="row">
                <div class="col-auto">
                    <h2>Create Your Profile</h2>
                </div>
            </div> --}}

            <div class="row mt-4">
                <div class="col-md-6">
                    <h2>Profile Information:</h2>

                    <form class="form new-profile-form">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input class="form-input" type="text" id="name" name="name" value={{full_name}} />
                        </div>
                        <div class="form-group">
                            <label for="bio">Bio:</label>
                            <textarea class="form-input" id="bio" name="bio">Bio</textarea>
                        </div>
                        <div class="form-group">
                            <label for="step-count">Step Count:</label>
                            <input class="form-input" type="number" id="step-count" name="step-count"
                                value={{this.UserProfile.step_count}} />
                        </div>
                        <div class="form-group">
                            <label for="image">Profile Image (enter as URL):</label>
                            <input class="form-input" type="Url" id="image" name="image"
                                placeholder="https://example.com" pattern="https://.*" size="10" required />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Create Profile</button>
                        </div>
                    </form>
                </div>

                {{!-- <div class="col-md-6">
                    <h3>Preview:</h3>
                    <div class="row">
                        <div class="col-auto">
                            <img src="" alt="Profile Picture" class="profile-image-preview">
                        </div>
                        <div class="col">
                            <h4 class="name-preview"></h4>
                            <p><strong>Step Count:</strong> <span class="step-count-preview">5000</span></p>
                            <p><strong>Bio:</strong> <span class="bio-preview"></span></p>
                        </div>
                    </div>
                </div>
            </div> --}}

            {{#if user}}
            <h1>Welcome, {{full_name}}!</h1>
            <p>Here's your profile:</p>
            {{else}}
            <h1>Log In</h1>
            <p>Please log in to view your profile.</p>
            {{
            /if
            }}